# 收集数据

## 资产负债表相关数据

In [1]:
import os
os.chdir(r"D:\paper\rowdata")
import pandas as pd
import numpy as np

In [4]:
balance = pd.read_csv("balance.csv",parse_dates=[1], infer_datetime_format=True,
                     dtype={'Stkcd':str})
balance.head(20)

,Stkcd,Accper,Typrep,A001121000,A001212000,A001000000,A002120000,A002000000
0,000002,2009-01-01,B,3.670265e+10,58772917.19,5.825950e+10,4.123297e+09,3.210959e+10
1,000002,2009-03-31,B,3.403048e+10,56637622.96,6.269997e+10,4.625019e+09,3.667881e+10
2,000002,2009-06-30,B,3.317162e+10,54699430.56,5.947466e+10,3.356172e+09,3.044075e+10
3,000002,2009-09-30,B,3.391973e+10,52875726.28,6.115455e+10,5.400139e+09,3.224700e+10
4,000002,2009-12-31,B,4.049738e+10,55104783.09,6.150412e+10,5.208563e+09,3.238094e+10
5,000002,2010-01-01,B,4.049738e+10,55104783.09,6.150412e+10,5.208563e+09,3.238094e+10
6,000002,2010-03-31,B,4.975348e+10,54474911.79,6.728229e+10,7.153007e+09,3.768040e+10
7,000002,2010-06-30,B,5.225617e+10,52864909.45,6.965487e+10,5.605760e+09,3.794280e+10
8,000002,2010-09-30,B,5.231546e+10,51458893.27,7.997158e+10,9.768623e+09,4.810397e+10
9,000002,2010-12-31,B,5.649274e+10,49672041.37,8.446798e+10,1.310024e+10,5.255943e+10
10,000002,2011-01-01,B,5.649274e+10,49672041.37,8.446798e+10,1.310024e+10,5.255943e+10
11,000002,2011-03-31,B,5.803221e+10,47679878.13,8.464633e+10,1.474305e+10,5.258621e+10
12,000002,2011-06-30,B,6.210561e+10,46514518.52,9.178526e+10,1.978905e+10,5.653437e+10
13,000002,2011-09-30,B,6.702216e+10,51116876.72,9.287146e+10,2.369731e+10,5.749915e+10
14,000002,2011-12-31,B,6.590512e+10,53567651.92,9.172550e+10,2.305988e+10,5.643735e+10
15,000002,2012-01-01,B,6.590512e+10,53567651.92,9.172550e+10,2.305988e+10,5.643735e+10
16,000002,2012-03-31,B,6.142800e+10,55608341.88,9.626535e+10,2.469663e+10,6.099883e+10
17,000002,2012-06-30,B,6.792898e+10,54632541.97,1.084313e+11,2.488052e+10,6.947854e+10
18,000002,2012-09-30,B,8.317395e+10,55067030.11,1.106872e+11,3.038100e+10,7.185403e+10
19,000002,2012-12-31,B,8.910113e+10,49989091.43,1.265448e+11,2.739208e+10,8.698094e+10

现有数据中包含季度数据、中报数据、年报数据等，我们只需要年报数据

In [6]:
balance_ls = []

years = ['2009','2010','2011','2012','2013',
         '2014','2015','2016','2017','2018',
         '2019','2020','2021']

for year in years:
    date = year + '-12-31'
    balance_ls.append(balance[balance["Accper"]==date])

In [7]:
balance_ls[-1]

,Stkcd,Accper,Typrep,A001121000,A001212000,A001000000,A002120000,A002000000
63,000002,2021-12-31,B,3.900921e+11,2.745166e+07,5.088116e+11,1.641082e+11,3.509229e+11
127,000004,2021-12-31,B,1.389224e+05,6.219332e+05,1.390209e+09,1.604161e+07,1.969158e+07
191,000005,2021-12-31,B,8.573788e+08,7.649464e+06,2.075687e+09,4.358018e+08,6.974636e+08
255,000006,2021-12-31,B,6.441418e+09,5.815260e+06,1.322655e+10,3.245432e+09,7.794201e+09
319,000007,2021-12-31,B,2.553448e+08,1.203228e+05,3.762022e+08,2.509604e+08,3.650511e+08
...,...,...,...,...,...,...,...,...
140067,605580,2021-12-31,B,1.911936e+05,3.705097e+08,9.231481e+08,9.909710e+06,1.633872e+08
140069,605588,2021-12-31,B,7.488456e+07,1.116439e+08,1.062571e+09,5.507759e+07,2.518891e+08
140071,605589,2021-12-31,B,1.135341e+09,8.142380e+08,7.525030e+09,5.579334e+08,2.432250e+09
140073,605598,2021-12-31,B,7.628710e+07,4.452932e+07,1.047497e+09,3.589567e+07,1.697788e+08
140075,605599,2021-12-31,B,4.587899e+07,1.674542e+08,5.195842e+09,2.107189e+07,1.992355e+09

balance_ls中是各年度相关数据，我们将其叠置起来

In [8]:
balance_1 = pd.concat(balance_ls)

---

In [11]:
balance_1 = balance_1.drop(['Typrep'], axis=1)

In [12]:
balance_1

,Stkcd,Accper,A001121000,A001212000,A001000000,A002120000,A002000000
4,000002,2009-12-31,4.049738e+10,5.510478e+07,6.150412e+10,5.208563e+09,3.238094e+10
68,000004,2009-12-31,3.518147e+07,9.170698e+05,1.195700e+08,4.451875e+07,5.601595e+07
132,000005,2009-12-31,3.142425e+08,2.552519e+07,7.204953e+08,2.434207e+08,4.335250e+08
196,000006,2009-12-31,1.663426e+09,6.998057e+06,7.258085e+09,1.035351e+08,5.096250e+09
260,000007,2009-12-31,1.077310e+08,3.505601e+07,3.339447e+08,1.486742e+08,4.182164e+08
...,...,...,...,...,...,...,...
140067,605580,2021-12-31,1.911936e+05,3.705097e+08,9.231481e+08,9.909710e+06,1.633872e+08
140069,605588,2021-12-31,7.488456e+07,1.116439e+08,1.062571e+09,5.507759e+07,2.518891e+08
140071,605589,2021-12-31,1.135341e+09,8.142380e+08,7.525030e+09,5.579334e+08,2.432250e+09
140073,605598,2021-12-31,7.628710e+07,4.452932e+07,1.047497e+09,3.589567e+07,1.697788e+08
140075,605599,2021-12-31,4.587899e+07,1.674542e+08,5.195842e+09,2.107189e+07,1.992355e+09

列名重命名：

In [13]:
balance_1 = balance_1.rename(columns={"Stkcd": "Code",
                       "Accper": "Time", "A001121000": "Qtyskje",
                       "A001212000": "Gdzcje", "A001000000": "Zcze",
                       "A002120000": "Qtyfk", "A002000000": "Fzze"})
balance_1

,Code,Time,Qtyskje,Gdzcje,Zcze,Qtyfk,Fzze
4,000002,2009-12-31,4.049738e+10,5.510478e+07,6.150412e+10,5.208563e+09,3.238094e+10
68,000004,2009-12-31,3.518147e+07,9.170698e+05,1.195700e+08,4.451875e+07,5.601595e+07
132,000005,2009-12-31,3.142425e+08,2.552519e+07,7.204953e+08,2.434207e+08,4.335250e+08
196,000006,2009-12-31,1.663426e+09,6.998057e+06,7.258085e+09,1.035351e+08,5.096250e+09
260,000007,2009-12-31,1.077310e+08,3.505601e+07,3.339447e+08,1.486742e+08,4.182164e+08
...,...,...,...,...,...,...,...
140067,605580,2021-12-31,1.911936e+05,3.705097e+08,9.231481e+08,9.909710e+06,1.633872e+08
140069,605588,2021-12-31,7.488456e+07,1.116439e+08,1.062571e+09,5.507759e+07,2.518891e+08
140071,605589,2021-12-31,1.135341e+09,8.142380e+08,7.525030e+09,5.579334e+08,2.432250e+09
140073,605598,2021-12-31,7.628710e+07,4.452932e+07,1.047497e+09,3.589567e+07,1.697788e+08
140075,605599,2021-12-31,4.587899e+07,1.674542e+08,5.195842e+09,2.107189e+07,1.992355e+09

In [15]:
balance_1.to_csv('balance_clean.csv', index=False)