In [1]:
word <- "Hello, R"

first_fun <- function(words){
    print(word)
}

first_fun(word)

[1] "Hello, R"

In [23]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [31]:
bi_health <- readr::read_csv('D:/paper/Rex/bivariate_health.csv')

Rows: 5574 Columns: 5
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
dbl (5): age, ndisease, linc, dmdu, hlthe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [32]:
head(bi_health)

  age      ndisease linc     dmdu hlthe
1 43.87748 13.73189 9.528776 1    0
2 17.59138 13.73189 9.528776 0    1
3 15.49966 13.73189 9.528776 1    1
4 44.14305 13.73189 9.528776 1    0
5 14.54962 13.73189 8.538699 0    0
6 16.28268 13.00000 8.538699 0    0

In [33]:
class(bi_health)

[1] "spec_tbl_df" "tbl_df"      "tbl"         "data.frame"

In [34]:
library(zeligverse)

ERROR: Error in library(zeligverse): there is no package called 'zeligverse'